<configuration>


<property file="src/main/resources/ltTest.properties" />
<!-- <property file="ltTest.properties" /> -->

# Console appender

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %message%n
			</pattern>
		</encoder>
	</appender>
	
# File appender

    <appender name="FOUT" class="ch.qos.logback.core.FileAppender">
        # Name of a log file
        <file>${ltTest.log}ltTest-logback.log</file>
        <append>true</append>
        <encoder>
            # Pattern of log message for file appender
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</pattern>
        </encoder>
    </appender>
    
    

	<logger name="org.springframework" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FOUT" />
	</root>

</configuration>